<% include globals/head %>
  <% include globals/header %>

    <main>
      <div id="nav2">
        <div id="content">
          <% posts.forEach(function(post) { %>
            <div class="posts__list">
              <a href="/posts/<%= post.id %>">
            <img src="<%= post.image_loc %>" class="postimage" alt="">
              <p><%- post.desc %></p>
              </a>
            </div>
            <% }) %>
        </div>
      </div>
    </main>
