<div class="links">
  <a href="/posts/create">Add Posts</a>
</div>
<main>
  <div class="posts__list">
    <% posts.forEach(function(post) { %>
      <%- include('partials/posts-item', {posts: posts}); %>
        <% }) %>
  </div>
</main>
