<div class="links">
  <a href="/posts/create">Add Posts</a>
</div>
<main>
    <div class="posts__list">
      <% posts.forEach(function(post) { %>
        <div class="">
          <a href="/posts/<%= post.id %>">
            <img src="<%= post.image_url %>" alt="">
            <p><%- post.desc %></p>
          </a>
        </div>
      <% }) %>
    </div>
</main>
