<div class="links">
  <a href="/posts/create">Add Posts</a>
  <% if (typeof user !== 'undefined') { %>
      <a href="/posts/create">Add Posts</a>
      <a href="/logout">Logout | <%= user.firstName %></a>
  <% } else { %>
      <a href="/login">Login</a>
      <a href="/user/signup">New User</a>
  <% } %>
</div>
<main>
    <div class="posts__list">
      <% posts.forEach(function(post) { %>
        <div class="">
          <a href="/posts/<%= post.id %>">
            <img src="<%= post.image_url %>" alt="">
            <p><%- post.desc %></p>
          </a>
        </div>
      <% }) %>
    </div>
</main>
