<div id="nav">
  <a href="/"><img src="images/hipsterlogo.png" id="logo"></a>  
  <div id="nav-wrapper">
    <ul>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="/posts/create">Add Post</a></li>
    </ul>
  </div>
</div>
